* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #111;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 5px;
}

/* Sliding Underline */
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #667eea;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Button */
.nav-btn {
    padding: 8px 18px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #764ba2;
}

/* Responsive */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .nav-btn {
        align-self: flex-start;
    }
}
