* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.progress-section {
    min-height: 100vh;
    padding: 60px 8%;
    background: #0f172a;
    color: white;
    text-align: center;
}

.progress-section h1 {
    margin-bottom: 40px;
}

/* FLEX CONTAINER */
.progress-container {
    display: flex;                 
    flex-direction: column;
    gap: 25px;
    max-width: 600px;
    margin: auto;
}

/* ITEM */
.progress-item {
    text-align: left;
}

/* BAR */
.progress-bar {
    width: 100%;
    height: 14px;
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
}

/* FILL */
.progress-fill {
    height: 100%;
    width: 0;
    border-radius: 20px;
    animation: fillAnim 2s forwards;
}

/* DIFFERENT WIDTHS */
.html {
    background: #38bdf8;
    animation-delay: 0.2s;
    --width: 90%;
}

.css {
    background: #667eea;
    animation-delay: 0.4s;
    --width: 85%;
}

.js {
    background: #facc15;
    animation-delay: 0.6s;
    --width: 75%;
}

.react {
    background: #22c55e;
    animation-delay: 0.8s;
    --width: 70%;
}

/* ANIMATION */
@keyframes fillAnim {
    to {
        width: var(--width);
    }
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .progress-container {
        padding: 0 10px;
    }
}
