* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* SECTION */
.animated-bg {
    height: 100vh;
    display: flex;                   
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    background: linear-gradient(-45deg, #667eea, #764ba2, #ff6a00, #ee0979);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

/* CONTENT */
.content {
    animation: fadeText 2s ease;
}

.content h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.content p {
    margin-bottom: 25px;
}

/* BUTTON */
.content button {
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #667eea;
    cursor: pointer;
}

/* GRADIENT ANIMATION */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* TEXT FADE */
@keyframes fadeText {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
